.drupal-preview-banner {
  position: fixed;
  z-index: 10;
  bottom: 2.4rem;
  left: 0;
  right: 0;
  color: #232429;
  font-family: '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Helvetica', 'Arial', 'sans-serif';
}

.drupal-preview-banner .title {
  margin: 0;
  font-size: 2rem;
}

.drupal-preview-banner .inner-wrapper {
  background-color: #ffffff;
  padding: 1.6rem;
  grid-column: 4/-4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.125rem;
  backdrop-filter: blur(13px);
  outline: 1px solid #919297;
}

.drupal-preview-banner .inner-wrapper:hover {
  outline: 2px solid #232429;
}

.drupal-preview-banner .button-icon {
  margin-left: 1.8rem;
}

.drupal-preview-banner .button {
  outline: none;
  background-color: #003cc5;
  color: white;
  text-decoration: none;
  font-size: 1.4rem;
  padding: calc(1rem - 1px) calc(1.5rem - 1px);
  align-items: center;
  min-height: 4rem;
  font-weight: 700;
  line-height: 1;
  border-radius: 2px;
  transition: all 0.2s cubic-bezier(0.2, 0, 0, 1);
  flex-shrink: 0;
  display: inline-flex;
  cursor: pointer;
  margin-right: 2rem;
}

.drupal-preview-banner .button:focus {
  outline: 2px solid white;
}

.drupal-preview-banner .button--secondary {
  background-color: #dc2323;
  margin-right: 0;
}

.drupal-preview-banner .grid {
  --grid-column-count: 12;
  --column-gap: .8rem;
  --grid-padding: 1.6rem;

  display: grid;
  grid-template-columns: var(--grid-padding) repeat(var(--grid-column-count), 1fr) var(--grid-padding);
  grid-column-gap: var(--column-gap);
}

